.sidepane {
    width: 300px;
    /* background-color: rgb(243, 253, 241); */
    background-color: #D6E9D5;
    color: #001806;
}
.sidepane h3 {
    padding: 1em;
}
.sidepane h3:hover{
    background-color: #fff;
    border: 2px solid #001806;
}