.checkpoint-view-container {
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    align-items: center;
    width: 100%;
}
.checkpoint-view-btns {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    width: 100%;
}
.checkpoint-view-btns .btn {
    width: 30%
}